.asideclient{
    background-color: white;
   >div{
    >span{
        color: gray  !important;
    }
   >h6{
        color: gray !important;
    }
}
   } 
.asideclient:hover{
        background-color:#41A4DF;
         
    >div{
        >span{
            color: white !important;
        }
        >h6{
            color: white !important;
        }
    }
     }    
       
        
 