.asideclient {
  background-color: white;
  > div {
    > span {
      color: gray !important;
    }
    > h6 {
      color: gray !important;
    }
  }
}

.asideclient:hover {
  background-color: #41a4df;

  > div {
    > span {
      color: white !important;
    }
    > h6 {
      color: white !important;
    }
  }
}

.ppetabel {
  .table th,
  .table td {
    padding: 0px;
  }
}

.table th, .table td {
    padding: 0.25rem;}





    .asidebaricone{
      span{
        svg{
          color: #42A4DF !important;
        }

      }   


    }
    .asidebaricone:hover {
      span{
        svg{
           
          rect{
            color: #41a4df;
            fill: #42A4DF !important;
          }
        }

      }   


    }